<div class="col-sm-12" style="margin-top: 40px;">
    <form (ngSubmit)="submitNewContact()" [formGroup]="contactForm" novalidate>
        <div class="form-row">
            <div class="form-group col-md-6" [ngClass]="{'has-error': contactForm.controls.firstName.invalid && contactForm.controls.firstName.dirty}">
                <label class="control-label">
                    First Name* 
                    <i *ngIf="contactForm.controls.firstName.invalid && contactForm.controls.firstName.dirty">
                        (This field is required)
                    </i>
                </label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-error': contactForm.controls.lastName.invalid && contactForm.controls.lastName.dirty}">
                <label class="control-label">
                    Last Name* 
                    <i *ngIf="contactForm.controls.lastName.invalid && contactForm.controls.lastName.dirty">
                        (This field is required)
                    </i>
                </label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6" [ngClass]="{'has-error': contactForm.controls.email.invalid && contactForm.controls.email.dirty}">
                <label class="control-label">
                    Email* 
                    <i *ngIf="contactForm.controls.email.invalid && contactForm.controls.email.dirty">
                        (Invalid email format)
                    </i>
                </label>
                <input type="text" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-error': contactForm.controls.phone.invalid && contactForm.controls.phone.dirty}">
                <label class="control-label">
                    Phone Number 
                    <i *ngIf="contactForm.controls.phone.invalid && contactForm.controls.phone.dirty">
                        (Invalid phone number)
                    </i>
                </label>
                <input class="form-control" formControlName="phone" placeholder="Phone Number">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label class="control-label">Birthday</label>
                <input type="text" class="form-control" formControlName="birthday" placeholder="Birthday">
            </div>
            <div class="form-group col-md-6" [ngClass]="{'has-error': invalidImage}">
                <label class="control-label">Profile Picture</label>
                <input type="file" class="form-control" (change)="getFile($event)" />
                <div class="help-block text-red" *ngIf="invalidImage">File is not a valid image format.</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12" [ngClass]="{'has-error': contactForm.controls.comments.invalid && contactForm.controls.comments.dirty}">
                <label class="control-label">
                    Comments
                    <i *ngIf="contactForm.controls.comments.invalid && contactForm.controls.comments.dirty">
                        (Max length is 2000 characters)
                    </i>
                </label>
                <textarea class="form-control" cols="100" rows="5" formControlName="comments"></textarea>
             </div>
         </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="button" class="btn btn-clear" (click)="cancelAdd()" value="Cancel"/>
                <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid || invalidImage">Create</button>
             </div>
        </div>
    </form>
</div>
