<div class="col-sm-12">
    <h1>Manage Contacts</h1>
</div>

<div class="col-sm-12">
    <button class="btn btn-info pull-right" [routerLink]="['/contacts/new']">Add Contact</button>
</div>

<div class="col-sm-12">
    <table class='table'>
        <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Birthday</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts">
                <td><img src="{{contact.profilePicture}}" style="height:40px;"/></td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.birthday | date:  date:'mm/dd/yyyy' }}</td>
                <td>
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-default dropdown-toggle" dropdownToggle aria-controls="dropdown-basic">
                            Actions <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item" (click)="edit()">Edit</a></li>
                            <li role="menuitem"><a class="dropdown-item" (click)="delete()">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            <tr align="center" colspan="7" *ngIf="!contacts.length && !fetchingContacts">
                No Data.
            </tr>

            <tr align="center" colspan="7" *ngIf="fetchingContacts">
                Loading...
            </tr>
        </tbody>
    </table>
</div>
